<!DOCTYPE html>
<html>
<head></head>
<body>
  

    <h1> {{ album.name }}</h1>

    <h1>Songs</h1>


        {% for song in album.song_set.all %}

            <ul>

                    <li>
                        Release Date: {{ song.publish_date }}
                    </li>
                    
                    <li><a href="{% url 'music:song_detail' song.id %}">{{ song.name }}</a></li>

                     
                    </ul>
                </li>
                
            </ul>
        {% endfor %}






</body>
    </html>